@import '../../sass/variables.scss';

.project-container{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;


    &.pc-dark{
        outline: 1px solid rgb(218, 218, 218);
    }

}



.p-browser{
    height: 20px;
    background-color: $BMonoP;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
    .p-circle{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 3px;
        background: white;
        &:first-child{
            margin-left: 8px;
        }

        &.dc{
            background-color: #121212;
        }
    }
}


.p-img{
    width: 100%;
    transition: all 10s ease;
}

.project-container:hover .p-img{
    transform: translateY(-60%);
}