@import '../../sass/variables.scss';

.project-container{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 1px 7px 21px 4px rgba(0,0,0,0.48);
    -webkit-box-shadow: 1px 7px 21px 4px rgba(0,0,0,0.48);
    -moz-box-shadow: 1px 7px 21px 4px rgba(0,0,0,0.48);

    &.pc-dark{
        // outline: 1px solid rgb(218, 218, 218);
        box-shadow: 0 -2px 50px rgba(0, 0, 0, 1);;
        -webkit-box-shadow: 0 -2px 50px  rgba(0, 0, 0, 1);
        -moz-box-shadow: 0 -2px 50px rgba(0, 0, 0, 1);
    }

}



.p-browser{
    height: 20px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
    .p-circle{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 3px;
        background: white;
        &:first-child{
            margin-left: 8px;
        }

        &.dc{
            background-color: #121212;
        }
    }
}


.p-img{
    width: 100%;
    transition: all 10s ease;
}

.project-container:hover .p-img{
    transform: translateY(-60%);
}

@media screen and (max-width:480px) {
    .project-container{
        width: 40%;
        height: 20vh;
        box-shadow: 1px 5px 11px 2px rgba(0,0,0,0.48);
        -webkit-box-shadow: 1px 5px 11px 2px rgba(0,0,0,0.48);
        -moz-box-shadow: 1px 5px 11px 2px rgba(0,0,0,0.48);
    }
}