
// Global variables
$primary:  #F76A3B;
$secondary: #EB6538;
$darker: #D15A32;


// palette analogous
$Apaltte: #AB3D18;
$Bpalette: #FF8157;

$Dpaltte: #07AB85;
$Epalette: #3BF7CC;


// palette Monochromatic
$AMonoP: #78341D;
$BMonoP: #F9A386;

$DMonoP: #784F41;
$EMonoP: #C4542F;