@import "../../sass/variables.scss";

.about-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-right {
  flex: 1;
}

.about-title {
  font-weight: 400;
}

.about-sub {
  margin: 20px 0px;
}

.about-desc {
  font-weight: 300;
}

.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: $primary;
  box-shadow: 1px 7px 21px 4px rgba(0,0,0,0.48);
  -webkit-box-shadow: 1px 7px 21px 4px rgba(0,0,0,0.48);
  -moz-box-shadow: 1px 7px 21px 4px rgba(0,0,0,0.48);

  &.bg-dark{
    box-shadow: 0 -2px 50px rgba(0, 0, 0, 1);;
    -webkit-box-shadow: 0 -2px 50px  rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 -2px 50px rgba(0, 0, 0, 1);
  }

}

.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 80px;
  position: relative;
  overflow: hidden;

  .about-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about-award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .about-award-img {
    width: 200px;
    border-radius: 10px;
    outline: 1px solid #ffff00;
  }

  .about-award-texts {
    width: 70%;

    .about-award-title {
        font-weight: bold;
        color: #555;
        margin-bottom: 10px;
      }
    
  }
}

@media screen and (max-width:480px) {
  .about-container{
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .about-left{
    width: 100%;
  }

  .about-card{
    height: 30vh;
  }

  .about-card.bg{
    display: none;
  }

  .about-right{
    padding: 20px;
  }
}