@import "../../sass/variables.scss";

.intro-container {
  display: flex;
  height: 100vh;
}

.intro-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .intro-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.intro-right {
  flex: 1;
  position: relative;
}

.intro-i {
  font-size: 30px;
  font-weight: 300;
}

.intro-name {
  font-size: 60px;
}

.intro-title {
  height: 50px;
  overflow: hidden;

  .intro-title-wrapper {
    height: 100%;
    animation: move 8s ease-in-out infinite alternate;

    .intro-title-item {
      height: 50px;
      font-size: 30px;
      font-weight: bold;
      color: $Dpaltte;
      display: flex;
      align-items: center;
    }

  }

}

@keyframes move {
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes arrow {
  100% {
    transform: translateY(-10px);
  }
}

.intro-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}



.intro-bg{
    clip-path: circle(76.8% at 77% 50%);
    background-color: $primary;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}



@media screen and (max-width: 480px) {
  .intro-container{
    flex-direction: column;
  }

  .intro-name{
    font-size: 55px;
  }

  .intro-left {
    .intro-left-wrapper {
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  }

  .intro-bg{
    clip-path: circle(60% at 50% 59.5%);
  }

  .intro-description{
    display: none;
  }
}